div.myButton{
    width: 150px;
    height: 130px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.myButton h1 {
    height: 1.1em;
    margin: 10px 0;
}
div.myButton button{
    font-size: 1.5em;
    padding: 0.1em;
    width: 80px;
}